---
const links = [
  {
    label: "github.com/phcdevworks",
    href: "https://github.com/phcdevworks",
    description: "All repos. All docs. All roadmaps.",
  },
];
---

<section
  class="px-8 py-20 sm:px-16 md:px-24 lg:px-32 sm:py-24 bg-gray-50 dark:bg-gray-800"
>
  <h2
    class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-black mb-8 tracking-tight text-gray-900 dark:text-gray-100"
  >
    LINKS
  </h2>
  {
    links.map(({ label, href, description }) => (
      <>
        <p class="text-2xl sm:text-3xl md:text-4xl font-black mb-6 tracking-tight text-gray-900 dark:text-gray-100">
          <a
            href={href}
            title={label}
            aria-label={label}
            class="text-[#ff0055] border-b-4 border-[#ff0055]"
          >
            {label}
          </a>
        </p>
        <p class="text-lg sm:text-xl text-gray-500 dark:text-gray-400">
          {description}
        </p>
      </>
    ))
  }
</section>
